
version: '3.8'

services:

  postgresdb:
    image: postgres:latest
    restart: unless-stopped
    env_file: ./.env
    environment:
      - POSTGRES_USER=$POSTGRESDB_USER
      - POSTGRES_PASSWORD=$POSTGRESDB_ROOT_PASSWORD
      - POSTGRES_DB=$POSTGRESDB_DATABASE
    ports:
      - $POSTGRESDB_LOCAL_PORT:$POSTGRESDB_DOCKER_PORT
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - testapp

  app:
    depends_on:
      - postgresdb
    build: ./backend
    restart: unless-stopped
    env_file: ./.env
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    environment:
      - DB_HOST=postgresdb
      - DB_USER=$POSTGRESDB_USER
      - DB_PASSWORD=$POSTGRESDB_ROOT_PASSWORD
      - DB_NAME=$POSTGRESDB_DATABASE
      - DB_PORT=$POSTGRESDB_DOCKER_PORT
    stdin_open: true
    tty: true
    networks:
      - testapp
  
  swagger-ui:
   image: swaggerapi/swagger-ui
   restart: unless-stopped
   ports: 
      - "8051:8051"
   environment:
    - SWAGGER_JSON=/api-docs/swagger.json
   volumes:
    - ./swagger.json:/api-docs/swagger.json:ro
   networks:
    - testapp

volumes: 
  postgres_data:

networks:
    testapp:
        driver: bridge